svg {
}

svg text {
    fill: #ccc;
    font-family: "Source Code Pro", monospace;
}

svg .axis line {
    stroke: #ccc;
}

svg .axis path {
    stroke: #ccc;
}

svg .data path {
    stroke-linejoin: round;
    stroke-linecap: round;
}

.tooltip {
    background-color: #005500;
    pointer-events: none;
    padding: 3px;
    border: 1px solid #ccc;
}