svg {
}

svg text {
    fill: #ccc;
    font-family: "Source Code Pro", monospace;
}

svg .axis line {
    stroke: #ccc;
}

svg .axis path {
    stroke: #ccc;
}

svg .data path {
    /*stroke-width: 1.5px;*/
}
